/* write some CSS below */
<html>
<head>
<style>div.gallery{margin: 5px;border: 1px solid#ccc;float: left;width: 180px;}
body{background-color:white;text-align: center;
	font-family: optima;normal;color: grey;}
h2
{font-size:13 px;color: rgb(0, 0, 15);}

